.products-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.products-list li {
  flex: 0 1 25rem;
  height: 47rem;
  padding: 1rem;
}

.product {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.products img {
  max-width: 37rem;
  height: 37rem;
}
.product-price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.product-price p,
.product-price button {
  text-align: center;
  flex: 1;
}
.product-price p {
  font-size: 2rem;
}

.btn:hover {
  border: 0.1rem #808080 solid;
}
