html {
  font-size: 70%;
  box-sizing: border-box;
}

body,
#root {
  height: 100vh;
  margin: 0;
}

.grid-container {
  height: 100%;
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
}
body,
input,
textarea,
select {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}
a:hover {
  color: orange;
}
header {
  grid-area: header;
  background-color: #202030;
  display: flex;
  justify-content: center;
  align-items: center;
}
header a {
  color: #fff;
  text-decoration: none;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
  background-color: #202030;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
}
.products {
  flex: 3 60rem;
}
.cart {
  flex: 1 20rem;
}
